.social-login
    button.social-login--github
        span
            i.fab.fa-github
        countine with Github
    button.social-login__facebook
        span
            i.fab.fa-facebook-square
        countine with Github